.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.tagContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 8rem;
}

.tagContainer span {
    font: bold 1.5rem sans-serif;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    padding: .25em .75em;
    text-transform: capitalize;
}

.tag.all {
    background: linear-gradient(to right, #d8771b, #ee1556);
}

.tag.web {
    background: linear-gradient(to right, #4285f4, #0f9d58);
}

.tag.ai {
    background: linear-gradient(to right, #673ab7, #ff4081);
    text-transform: uppercase;
}

.tag.cybersecurity {

background: #98CCA3;
background: radial-gradient(at right top, #98CCA3, #D67906);
}

.tag.gaming {
background: #7C01FF;
background: radial-gradient(at center top, #7C01FF, #FF0183);
}

.tag.crypto {
background: rgb(34,193,195);
background: linear-gradient(to right, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.tag.programming {
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.postsFilder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.postsFilder span {
    font: bold 3rem sans-serif;
    cursor: pointer;
}

.select {
    cursor: pointer;
    color: black;
    margin-left: -1.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font: bold 5rem 'Roboto', sans-serif;
}
