.comments {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}


.title {
  text-align: center;
  font: bold 3rem 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

.addComment {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.addComment button {
  padding: 1rem;
  font: 1.6rem 'Roboto', sans-serif;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.textArea {
  width: 80%;
  height: 8rem;
  resize: none;
  padding: 1rem;
  font: 1.6rem 'Roboto', sans-serif;
}

.comment {
  border: 3px solid #ccc;
  padding: 1rem;
    margin-top: 3rem;

}

.user {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.user__image {
  border-radius: 50%;
  width: 60px;
}

.user__info>small {
  color: #666;
}

.link {
  all: unset;
  background: linear-gradient(to right, #d8771b, #ee1556);
  color: black;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 50px;
  font: bold 1.5rem 'Roboto', sans-serif;
  transition: .2 ease;
  text-align: center;
}

.link:hover {
  background: linear-gradient(to right, #ee1556, #d8771b);
}


.link:active {
  scale: .9;
}
