/* Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: black;
  color: #eee;
  font: bold 1rem 'Roboto', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Posts */
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 35px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#d8771b, #ee1556);
  border-radius: 50px;
}
