.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(25rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    margin: 1rem;
    color: black;
    cursor: pointer;

}

.card__header img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card__body .readMore {
    all: unset;
    cursor: pointer;
    color: #333;
}

.card__body p {
    color: #333;
    font-weight: 700;
}

.tag {
    all: unset;
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    font-weight: bold;
    background: linear-gradient(to right, #d8771b, #ee1556);
    color: black;
    text-transform: capitalize;

}

.tag+.tag {
    margin-left: .5em;
}

.tag.all {
    background: linear-gradient(to right, #d8771b, #ee1556);
}

.tag.web {
    background: linear-gradient(to right, #4285f4, #0f9d58);
}

.tag.ai {
    background: linear-gradient(to right, #673ab7, #ff4081);
    text-transform: uppercase;
}

.tag.cybersecurity {

    background: #98CCA3;
    background: radial-gradient(at right top, #98CCA3, #D67906);
}

.tag.gaming {
    background: #7C01FF;
    background: radial-gradient(at center top, #7C01FF, #FF0183);
}

.tag.crypto {
    background: rgb(34, 193, 195);
    background: linear-gradient(to right, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.tag.programming {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}


.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}



.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    object-fit: cover;
    transition: all .1s ease;
}

.user__image:hover {
    filter: none;
}

.user__info>small {
    color: #666;
}
